@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{

  font-family: "Fredoka";
  src:url("Fredoka-VariableFont.ttf")
}


@layer base {

  /* body{

    @apply xs:bg-gray-500 sm:bg-blue-400 md:bg-green-400 lg:bg-pink-400
  } */
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3{
    @apply text-2xl;

  }
  h4{
    @apply text-xl;
  }
  h5{
    @apply text-lg;
  }
  #features{
    @apply bg-gradient-to-t to-white from-cprintBlue
  }

  .CprintBtn
  {
    @apply w-fit h-fit p-1 bg-cprintYellow border-2 border-black  font-bold
  }
}

body {
  
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

