@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{

  font-family: "Fredoka";
  src:url("Fredoka-VariableFont.ttf")
}

@font-face{

font-family: "LatoReg";
src:url("Lato-Regular.ttf")
}


@layer base {

  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3{
    @apply text-2xl;

  }
  h4{
    @apply text-xl;
  }
  h5{
    @apply text-lg;
  }
  #features{
    @apply bg-gradient-to-t to-white from-cprintBlue
  }
 

  .CprintBtn
  {
    @apply w-fit h-fit p-2 bg-cprintYellow  font-bold
  }
  #email
  {
      @apply shadow-xl p-2 rounded-lg border-2 border-cprintRed bg-none 
  }
}

body {
  
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section#reviews div::-webkit-scrollbar{

  display:none;
}
section#reviews div{

  -ms-overflow-style:none;
  scrollbar-width:none;
}

